
<div class="row">
  <h1>Burgers!</h1>


  <div class="column" id="col-1">
    <h2>Burgers Menu!</h2>

    <ul>
      {{#each burgers}} {{#unless ordered}} {{> burgers/burger-block ordered=true}} {{/unless}} {{/each}}
    </ul>
  </div>

  <div class="column" id="col-2">
    <h2>Your Order</h2>

    <ul>
      {{#each burgers}} {{#if ordered}} {{> burgers/burger-block ordered=false}} {{/if}} {{/each}}
    </ul>
  </div>

</div>
<br>
<br>

<div style="height:3px; background-color:darkgray"></div>
<br>
<h2>Custom Burger Order</h2>

<div class="box">
<form class="create-form" style={"border-width": 4px}>
    <div class="form-group">
      <label for="burger_name">Burger Name:</label>
      <br>
      <input type="text" id="burger_name" name="burger_name">
    </div>

    <div class="form-group">
      <label for="ordered">Are you sure you want to order this custom burger? Taste is subject to variation. </label>

      <input type="radio" name="ordered" value="1" required> yes, I'm sure {{!--
      <input type="radio" name="ordered" value="0"> order --}}
    </div>

    <button type="submit">Add Burger</button>
</form>
</div>



{{!--
<input type="radio" name="gorgonzola cheese" value="true"> gorgonzola cheese
<br>
<input type="radio" name="bacon" value="1"> bacon
<br>
<input type="radio" name="pear" value="1"> pear
<br>
<input type="radio" name="pineapples" value="1"> pineapples
<br>
<input type="radio" name="spinach" value="1"> spinach
<br>
<input type="radio" name="egg" value="1"> egg
</div> --}}