body {
  font-family: "Josefin Sans";
  background-color: aliceblue;
}

li {
  padding: 5px;
  margin: 5px;
  background: #f0f1f4;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 2px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#col-1 button.change-ordered {
  background-color: rgb(193, 231, 193);
  border-radius: 10px;
  color: white;
  font-weight: 300;
  float: right;
  border: 0px;
}

#col-2 button.change-ordered {
  background-color: rgb(186, 162, 162);
  border-radius: 10px;
  opacity: .73;
  color: white;
  font-weight: 300;
  float: right;
  border: 0px;
}